{:paths ["src" "resources" "lib"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        cnuernber/dtype-next {:mvn/version "10.011"}
        net.java.dev.jna/jna {:mvn/version "5.13.0"}
        metosin/jsonista {:mvn/version "0.3.8"}
        ;; techascent/tech.jna {:mvn/version "4.06"}
        }
 :aliases
 {:test
  {:extra-paths ["test"]
   :extra-deps {org.clojure/test.check {:mvn/version "1.1.1"}
                io.github.cognitect-labs/test-runner
                {:git/tag "v0.5.1" :git/sha "dfb30dd"}}}
  :build {:deps {io.github.clojure/tools.build
                 {:mvn/version "0.9.6"}
                 slipset/deps-deploy {:mvn/version "0.2.0"}}
          :ns-default build}}}
